.nav-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-bottom: 100px;
}

.logo-home {
  height: 50px;
}

@media (max-width: 576px) {
  .nav-text-container {
    width: 90%;
  }

  .logo-home {
    height: 40px;
  }
}

.list-button-container {
  display: flex;
}

@media (max-width: 576px) {
  .list-button-container {
    display: none;
  }
}

.un-order-list {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  padding: 0px;
  align-self: center;
  align-items: center;
}

.list-text {
  font-family: Roboto;
  font-size: 18px;
  color: #475569;
  list-style: none;
  margin-right: 20px;
}

.logout-button {
  width: 100px;
  height: 40px;
  background-color: #0b69ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-size: 15px;
  color: #ffffff;
  border-radius: 10px;
  border-width: 0px;
  align-self: center;
}

.nav-img-container {
  display: none;
}

.nav-img {
  display: none;
}

@media (max-width: 576px) {
  .nav-img-container {
    display: block;
    padding: 15px;
  }

  .nav-img-container {
    width: 90%;
    background-color: #e6f6ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .nav-img {
    height: 35px;
    display: block;
  }
}
